<!DOCTYPE html>
<html>

<head>
  <title>Cross Border Payment System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 style="font-weight: bold; padding-top: 1rem;  color: darkslateblue;">Create Account</h1>
    <hr />
    <% if (errorMessage) { %>
      <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
      </div>
      <% } %>
    <form action="/createAccount" method="POST">
      <div class="form-group">
        <label for="customerID">Verify Your ID:</label>
        <input type="text" class="form-control" name="customerID" required>
      </div>
      <div class="form-group">
        <label for="bankID">Bank ID:</label>
        <input type="text" class="form-control" name="bankID" required>
      </div>
      <div class="form-group">
        <label for="balance">Balance:</label>
        <input type="text" class="form-control" name="balance" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Create Account</button>
      <a href="/customerHome" class="btn btn-secondary">Home Page</a>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>